div {
    color: white;
}

body {
    background-color: rgb(2, 2, 10);
    height: 2000px;
}

.header {
    display: flex;
    background-color: rgb(14, 14, 14);
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}

.name-text {
    color: rgb(90, 197, 255);
    margin-left: 100px;
    width: 300px;
    min-width: 300px;
    margin-right: 15px;
}

.right-text-section {
    display: flex;
    flex: 1;
    justify-content: right;
    min-width: 400px;
}

.navigate-text {
    color: white;
    margin-right: 60px;
    font-size: 16.5px;
}

.cover-section {
    position: relative;
    height: 710px;
    margin-top: 80px;
    width: 100%;
}

.text-to-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 160px;
    right: 150px;
    color: white;
}

.developer-text {
    font-size: 20px;
    font-family: "Trebuchet MS";
}

.developer-line {
    background-color: rgb(112, 129, 252);
    margin-top: 9px;
    margin-bottom: 80px;
    width: 500px;
    height: 4px;
}

.mission-statement {
    font-size: 50px;
    width: 500px;
    font-family: Roboto Mono;
}

.reality-text {
    display: inline-block;
    margin-left: -30px;
    font-weight: bold;
}

.r-letter {
    margin-left: 0;
    color: rgb(131, 170, 250);
}

.e-letter {
    color: rgb(110, 162, 252)
}

.a-letter {
    color: rgb(89, 150, 255)
}

.l-letter {
    color: rgb(68, 137, 255)
}

.i-letter {
    color: rgb(47, 123, 255)
}

.t-letter {
    color: rgb(26, 110, 255)
}

.y-letter {
    color: rgb(5, 96, 253);
}

.my-picture {
    position: absolute;
    top: 0px;
    left: 125px;
    height: 700px;
}

.about-section {
    margin-top: 200px;
    position: relative;
    height: 400px;
}

.about-me-text {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 980px;
    left: 15%;
    padding: 20px;
    border: 2px solid rgb(112, 129, 252);
}

.actual-about-me-text {
    font-size: 36px;
    text-decoration: underline;
}

.my-description-text {
    margin-top: 30px;
    font-size: 25px;
}